body, html {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.main {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
}

.box-line {
    text-align: center;
    width: 25%;
    height: fit-content;
    background: rgb(180, 180, 180);
    border-radius: 10px;
    box-shadow: black 1px 1px 1px;
}

.startButton {
    margin: auto;
    width: 500px;
    height: 200px;
    background-size: contain;
    background-image: url(./files/start.png);
    background-repeat: no-repeat;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
}

.startButton:hover {
    background-image: url(./files/starthover.png);
}

.staffBox {
    border-radius: 10px;
    background: rgb(180, 180, 180);
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    box-shadow: black 1px 1px 1px;
}

.image-container {
    display: inline-block;
    position: relative;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid black;
    transform: rotate(-20deg);
}

.downloadButton {
    background-image: url(./files/download.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 147px;
    height: 200px;
    margin: auto;
    display: block;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 100px;
}

.downloadButton:hover {
    background-image: url(./files/downloadhover.png);
}

nav {
    background-color: #333333a8;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    transition: background-color 0.3s;
    display: inline-block;
}

nav img {
    vertical-align: middle;
}

nav a {
    cursor: pointer;
}

.curved-line {
    width: 600px;
    height: 100px;
    border: solid 5px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/0 100px 0 0;
}

.newsBox {
    text-align: center;
    border: solid black 1px;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    box-shadow: black 1px 1px 1px;
    background: rgba(104, 104, 104, 0.471);
    margin-top: 100px;
    margin-bottom: 100px;
}

.pickaxe-container {
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.pickaxe-text {
    position: absolute;
    left: 80px;
    top: 20px;
    color: white;
    font-weight: bold;
}

.pickaxe {
    width: 50px;
    height: 50px;
    top: 5px;
    cursor: pointer;
}